@use '../variables'
@use '../mixins'
    
.btn-img
    @include mixins.center
    max-height: 10%
    
    :hover
        background: variables.$gradient

.project-externo
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
  
.social-networks-2
    grid-auto-columns: 2