@use '../variables'
@use '../mixins'
    
.btn-img
    @include mixins.center
    max-height: 10px
    
    :hover
        background: variables.$gradient

.project-externo
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
 